target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
*.iml
classes/*
out/*
.iml
*.asc
*.gif
*.DS_Store
*.log
index/*
example/*
data/*
src/test/resources/eval/ACL_RD-TEC/corpus/full/*
testdata/solr-testbed/*/data/*
.DS_Store
debug/*
*.tar.gz
src/test/resource/eval/ACL_RD-TEC/corpus/full/debug/
*.json
.idea/
